<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /invoice/

    # Redirigir todo a index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
